# OS-specific
.DS_Store

# editors
*.swp

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock

# Vagrant
.vagrant
/Vagrantfile

# RVM files for gemset/ruby setting
.ruby-*
.rvmrc

.hg
.hgignore
.agignore
.project
.ruby-version
.project
